title: "Department of Computational Science"
description: "Academic Group Website"
baseurl: "" # for GitHub Pages repo, set to /repo-name
url: ""     # set your site URL here

theme: minima

collections:
  people:
    output: true
    permalink: /people/:name/

plugins:
  - jekyll-scholar

scholar:
  style: apa
  locale: en
  source: ./_bibliography
  bibliography: references.bib
  bibliography_template: bib

markdown: kramdown
highlighter: rouge

kramdown:
  input: GFM
  hard_wrap: false
  syntax_highlighter_opts:
    span:
      line_numbers: false
    block:
      line_numbers: true

